{% extends 'main.html' %}
{% block body %}


<div style="display: flex; align-items: center; margin-left: 1em;">
    <a href="{% url 'createGroup' %}">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center add-button">
            +
        </div>
    </a>
    <span class="nav-link-text ms-1">Add new group</span>
</div>


<br>

<table class="table align-items-center mb-0" id="groupTable">
    <thead>
      <tr>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Group Number</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Group Name</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total students</th>
      </tr>
    </thead>
    <tbody>

        {% for group in groups %}
        <tr class='clickable-row' data-url="{% url 'group' group.id %}">

            <td>
                <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-">
                        <h6 class="mb-0 text-sm">{{group.group_number}}</h6>
                    </div>
                </div>
            </td>

            <td>
                <div class="avatar-group mt-2">
                    <div class="d-flex flex-column justify-content-">
                        <h6 class="mb-0 text-sm">{{group.full_name}}</h6>
                    </div>
                </div>
            </td>

            <td class="align-middle text-center text-sm">
                <span class="text-xs font-weight-bold"> {{group.total_students}} </span>
            </td>

            <td class="align-middle text-center text-sm">
                <a href="{% url 'editGroup' group.id %}">Edit</a>
            </td>

            <td class="align-middle text-center text-sm">
                <a href="{% url 'deleteGroup' group.id %}">Delete</a>
            </td>

        </tr>

        {% endfor %}

    </tbody>
  </table>
  
    <!-- This adds a link on whole table row -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var table = document.getElementById("groupTable");
            var rows = table.getElementsByTagName("tr");
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                row.addEventListener("click", function () {
                    var url = this.getAttribute("data-url");
                    if (url) {
                        window.location.href = url;
                    }
                });
            }
        });
    </script>

{% endblock body %}