{% extends 'main.html' %}
{% block body %}


<div style="display: flex; align-items: center; margin-left: 1em;">
    <a href="{% url 'createSubject' %}">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center add-button">
            +
        </div>
    </a>
    <span class="nav-link-text ms-1">Add new subject</span>
</div>


<br>

<table class="table align-items-center mb-0" id="groupTable">
    <thead>
      <tr>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Subject Name</th>
      </tr>
    </thead>
    <tbody>

        {% for subject in subjects %}
        <tr>

            <td>
                <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-">
                        <h6 class="mb-0 text-sm">{{subject.name}}</h6>
                    </div>
                </div>
            </td>

            <td class="align-middle text-center text-sm">
                <a href="{% url 'editSubject' subject.id %}">Edit</a>
            </td>

            <td class="align-middle text-center text-sm">
                <a href="{% url 'deleteSubject' subject.id %}">Delete</a>
            </td>

        </tr>

        {% endfor %}

    </tbody>
  </table>
  
{% endblock body %}